In [4]:
n=int(input())
for i in range(0,n):
    print()
    for j in range(i+1):
        print("*",end ="" )

*
**
***
****
*****
******

In [16]:
def print_triangle_pattern(rows):
    for i in range(1, rows + 1):
        print("* " * i)

# Get input from the user
rows = int(input("Enter the number of rows to print the triangle pattern: "))

# Print the pattern
print_triangle_pattern(rows)

*
* *
* * *
* * * *
* * * * *

In [5]:
for i in range(1,5):
    print("* "  * i )

*
* *
* * *
* * * *

In [10]:
for i in range(1,5):
    print()
    for j in range(1,i+1):
        print(j ,end = "")

1
12
123
1234

In [6]:
for i in range(1,5):
    print(i,end =" ")

1 2 3 4

In [25]:
for i in range(1,5):
    print()
    for j in range(1,i+1):
        print(str(j)*j,end="")

1
122
122333
1223334444

In [26]:
for i in range(1,5):
    print(str(i)*i)

1
22
333
4444

In [29]:
for i in range(1,5):
    print(i,)

1 2
2 3
3 4
4 5

In [35]:
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end="")
    print()

1234
123
12
1

In [37]:
for i in range(n,0,-1):
    for j in range(1,i+1):
        print("* ",end=" ")
    print()

*  *  *  *
*  *  *
*  *
*

In [11]:
n=6
for i in range(n):
    for j in range(i,n):
        print(j,end=" ")
    print()

0 1 2 3 4 5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [12]:
n=6
for i in range(n):
    for j in range(i,n):
        print("* ",end=" ")
    print()

*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [13]:
n=6
for i in range(n):
    for j in range(i+1):
        print(j,end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [47]:
n=6
for i in range(n):
    for j in range(i+1):
        print("* ",end=" ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *  *  *

In [18]:
n =5 
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print(j,end="")
    print()

     0
    01
   012
  0123
 01234

In [22]:
n =5 
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("*",end="")
    print()

     *
    **
   ***
  ****
 *****

In [60]:
n =5 
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n):
        print("*",end="")
    
    print()

 *****
  ****
   ***
    **
     *

In [23]:
n =5 
for i in range(n):
    for j in range(i+1):
        print(" ",end="")
    for j in range(i,n):
        print(j,end="")
    
    print()

 01234
  1234
   234
    34
     4

In [24]:
n =5 
for i in range(n):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i+1):
        print("* ",end="")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [26]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print(j,end=" ")
    for j in range(i+1):
        print(j,end=" ")
    print()

          0
        0 0 1
      0 1 0 1 2
    0 1 2 0 1 2 3

In [28]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    for j in range(i+1):
        print("*",end="")
    print()

     *
    ***
   *****
  *******